{<<"app">>,<<"nitro_qrcode">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Nitrogen QRCode Encoder">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"include">>,<<"include/qrcode.hrl">>,
  <<"include/qrcode_params.hrl">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src">>,<<"src/nitro_qrcode.app.src">>,<<"src/nitro_qrcode.erl">>,
  <<"src/nqr_base32.erl">>,<<"src/nqr_bits.erl">>,<<"src/nqr_demo.erl">>,
  <<"src/nqr_gf256.erl">>,<<"src/nqr_mask.erl">>,<<"src/nqr_matrix.erl">>,
  <<"src/nqr_reedsolomon.erl">>,<<"src/nqr_svg.erl">>]}.
{<<"licenses">>,[<<"Apache-2.0">>]}.
{<<"links">>,
 [{<<"GitHub">>,<<"https://github.com/nitrogen/nitro_qrcode">>},
  {<<"Homepage">>,<<"https://nitrogenproject.com">>}]}.
{<<"name">>,<<"nitro_qrcode">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.1.0">>}.
