{<<"app">>,<<"rekt">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Erlang Record Extender Parse Transform">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,<<"src/rekt.app.src">>,
  <<"src/rekt.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"GitHub">>,<<"http://github.com/nitrogen/rekt">>}]}.
{<<"name">>,<<"rekt">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.1.0">>}.
