{<<"app">>,<<"canister">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,
 <<"An Session Management tool for web frameworks - originally built for Nitrogen">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"include/canister.hrl">>,<<"rebar.config">>,
  <<"rebar.config.script">>,<<"rebar.lock">>,<<"src/canister.app.src">>,
  <<"src/canister.erl">>,<<"src/canister_app.erl">>,
  <<"src/canister_config.erl">>,<<"src/canister_exp.erl">>,
  <<"src/canister_log.erl">>,<<"src/canister_resync.erl">>,
  <<"src/canister_sup.erl">>,<<"src/canister_sync.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,
 [{<<"GitHub">>,<<"https://github.com/nitrogen/canister">>},
  {<<"Homepage">>,<<"https://nitrogenproject.com">>}]}.
{<<"name">>,<<"canister">>}.
{<<"requirements">>,
 [{<<"qdate">>,
   [{<<"app">>,<<"qdate">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~>0.7.0">>}]}]}.
{<<"version">>,<<"0.1.1">>}.
