{<<"app">>,<<"erlang_ds">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,
 <<"Work with common erlang data structures (map, dict, proplist, etc)">>}.
{<<"files">>,
 [<<"CHANGELOG.md">>,<<"LICENSE.md">>,<<"README.md">>,<<"rebar.config">>,
  <<"rebar.config.script">>,<<"rebar.lock">>,<<"src">>,<<"src/ds.erl">>,
  <<"src/ds_util.erl">>,<<"src/erlang_ds.app.src">>,
  <<"src/erlang_ds_builder.erl">>,<<"src/erlang_ds_dict.erl">>,
  <<"src/erlang_ds_qdate_updaters.erl">>,<<"src/erlang_ds_register.erl">>,
  <<"src/erlang_ds_type_handler.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"Github">>,<<"http://github.com/choptastic/erlang_ds">>}]}.
{<<"name">>,<<"erlang_ds">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.3.0">>}.
