{<<"app">>,<<"mutagen">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"An Erlang Mutex Server for Nitrogen">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"include">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src">>,<<"src/mutagen.app.src">>,<<"src/mutagen.erl">>,
  <<"src/mutagen_app.erl">>,<<"src/mutagen_sup.erl">>]}.
{<<"licenses">>,[<<"Apache-2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/nitrogen/mutagen">>}]}.
{<<"name">>,<<"mutagen">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.1.0">>}.
