{<<"app">>,<<"qdate_localtime">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,
 <<"Erlang library for conversion from one local time to another (forked specifically for qdate compatibility)">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"include/tz_database.hrl">>,
  <<"priv/db/.gitignore">>,<<"priv/db/Makefile">>,<<"priv/db/tz-erl">>,
  <<"priv/ibuild.escript">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/localtime.erl">>,<<"src/localtime_dst.erl">>,
  <<"src/qdate_localtime.app.src">>,<<"src/tz_index.erl">>]}.
{<<"licenses">>,[<<"BSD">>]}.
{<<"links">>,
 [{<<"Github">>,<<"https://github.com/choptastic/qdate_localtime">>}]}.
{<<"name">>,<<"qdate_localtime">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.2.1">>}.
